.clients-title{
    font-size: 40px;
}

.client-image{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 100%;
}

@media(max-width: 1050px){
    .clients-title{
        font-size: 24px;
    }
}
@media(max-width: 767px){
    .clients-title{
        font-size: 20px;
    }
}
/* typeof window.orientation !== 'undefined' */